@mixin backgroundColor($num) {
  @if $num == 1 {
    background-color: #187140;
  }
  @if $num == 2 {
    background-color: #f197c0;
  }
  @if $num == 3 {
    background-color: #d42765;
  }
  @if $num == 4 {
    background-color: #d7db2d;
  }
  @if $num == 5 {
    background-color: #44b4e6;
  }
  @if $num == 6 {
    background: linear-gradient(
      to right,
      #0d6838 0%,
      #0d6838 50%,
      #0d6838 50%,
      #6cc6d9 50%,
      #6cc6d9 100%
    );
  }
}

@mixin descriptionPos($num) {
  @if $num == 1 {
    top: 100px;
    left: 80px;
  }
  @if $num == 2 {
    top: 200px;
    left: 80px;
  }
  @if $num == 3 {
    top: 400px;
    right: 100px;
  }
  @if $num == 4 {
    top: 500px;
    right: 100px;
  }
  @if $num == 5 {
    top: 100px;
    left: 100px;
  }
  @if $num == 6 {
    top: 50px;
    right: 100px;
  }
}
