@mixin backgroundColor($num) {
  @if $num == 1 {
    background-color: green;
  }
  @if $num == 2 {
    background-color: pink;
  }
  @if $num == 3 {
    background-color: green;
  }
  @if $num == 4 {
    background-color: pink;
  }
  @if $num == 5 {
    background-color: green;
  }
  @if $num == 6 {
    background-color: pink;
  }
}
