@mixin backgroundColor($num) {
  @if $num == 1 {
    background-color: #006640;
  }
  @if $num == 2 {
    background-color: #ff94c5;
  }
  @if $num == 3 {
    background-color: #e73065;
  }
  @if $num == 4 {
    background-color: #cbdb25;
  }
  @if $num == 5 {
    background-color: #21ace9;
  }
  @if $num == 6 {
    background: linear-gradient(
      to right,
      #0e4d25 0%,
      #0e4d25 50%,
      #0e4d25 50%,
      #72c6cc 50%,
      #72c6cc 100%
    );
  }
}

@mixin descriptionPos($num) {
  @if $num == 1 {
    top: 100px;
    left: 80px;
  }
  @if $num == 2 {
    top: 200px;
    left: 80px;
  }
  @if $num == 3 {
    top: 400px;
    right: 100px;
  }
  @if $num == 4 {
    top: 50px;
    right: 100px;
  }
  @if $num == 5 {
    top: 100px;
    left: 100px;
  }
  @if $num == 6 {
    top: 50px;
    right: 100px;
  }
}
