.home {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "."
    "title"
    "btn";
  align-items: center;
  justify-items: center;
  background-image: url("/images/fundo_desenho_digital.png");
  background-position: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home__title {
  grid-area: title;
  margin: 0;
  padding: 24px;
  font-size: $home__title-font-size;
  font-weight: 700;
}

.home__btn {
  grid-area: btn;
  align-self: start;
}
