.main-page {
  height: 100vh;
  width: 100%;
  // background-image: url("/images/animacao1.png");
  // background-position: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
}

.animation {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
  }
}
