// Colors
$base-color: #ffffff;
$primary-color: #000000;

// Font Sizes
$help__title-font-size: 30px;
$navbar__btn-font-size: 22px;
$home__title-font-size: 64px;
$select__title-font-size: 43px;
$btn-font-size: 35px;
$help-font-size: 24px;
